*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
html,body{
    display: grid;
    height: 100%;
    place-items: center;
    background: black;
}
.text{
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    animation: animate 10s linear infinite;
    background: linear-gradient(135deg,red,violet,orange,purple);
    background-size: 40px;

}
@keyframes animate {
    100%{
        background-position: 400%;

    }
}